<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PITAAAN Technology</title>

    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="logo">
          <a href="/">PITAAAN Technology</a>
        </div>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/">トップページ</a></li>
            <li class="nav-item"><a href="/about/">会社概要</a></li>
            <li class="nav-item"><a href="/about/business/">事業内容</a></li>
            <li class="nav-item"><a href="/about/members/">メンバー紹介</a></li>
            <li class="nav-item"><a href="/recruit/">採用情報</a></li>
            <li class="nav-item">
              <a href="/contact/" class="contact-button">お問い合わせ</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
