header {
  width: 100%;
  background-color: #ffffff;
  padding: 28px 40px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #cc4100;
}

.nav-item a.current-page {
  color: #cc4100;
}

.nav-item .contact-button {
  background-color: #333333;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.nav-item .contact-button:hover {
  color: #ffffff;
  background-color: #cc4100;
}
