header {
  width: 100%;
  background-color: #ffffff;
  padding: 28px 40px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header .nav-item a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  transition: color 0.3s ease;
}

header .nav-item a:hover {
  color: #cc4100;
}

header .nav-item a.current-page {
  color: #cc4100;
}

header .nav-item .contact-button {
  background-color: #333333;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

header .nav-item .contact-button:hover {
  color: #ffffff;
  background-color: #cc4100;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 8px;
    height: fit-content;

    flex-direction: column;
    align-items: flex-end;
  }

  .outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
  }

  .logo a {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 16px;
  }

  .menu-button {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 16px;

    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 25px;
    cursor: pointer;

    height: 32px;
    padding: 0 16px;
  }

  .menu-button-icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .menu-button-icon div {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }

  .menu-button.active {
    background-color: #333333;
    color: #ffffff;
  }

  .menu-button.active .menu-button-icon div {
    background-color: #ffffff;
  }

  .menu-button.active .menu-button-icon {
    gap: 0;
  }

  .menu-button-icon div {
    position: relative;
    transition: all 0.3s;
  }

  .menu-button.active .menu-button-icon div:nth-child(1) {
    top: 1px;
    transform: rotate(30deg);
  }

  .menu-button.active .menu-button-icon div:nth-child(2) {
    opacity: 0;
  }

  .menu-button.active .menu-button-icon div:nth-child(3) {
    top: -1px;
    transform: rotate(-30deg);
  }

  header .nav {
    display: none;
  }

  header .nav.active {
    display: block;
    height: calc(100vh - 48px);
    padding: 20px 8px;
    overflow-y: auto;
  }

  header .nav-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
  }

  header .nav-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 16px 0;
  }

  header .nav-item:has(.contact-button) {
    margin-top: 16px;
  }
}
