body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  color: #333;
  background: #fff;
}

/* 共通セクション */
.section {
  text-align: center;
  padding: 160px 20px;
  /* height: 888px; */
  /* border-bottom: 1px solid #ccc; */
}

.section-title {
  font-size: 77px;
  margin-bottom: 8px;
  font-weight: 500;
}

.section-subtitle {
  font-size: 24px;
  color: #666;
  margin-bottom: 40px;
}

.icon {
  /* font-size: 2.5rem; */
  height: 20px;
  width: 20px;
  margin: 10px;
}

.icon-img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: 0px 10px;
}

.arrow {
  display: inline-block;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.btn-medium:hover .arrow,
.btn-large:hover .arrow {
  /* color: #e11414; */
  transform: translateX(5px);
}

button {
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #333;
}

.btn-medium {
  display: inline-block;
  width: 210px; /* 横幅       */
  height: 48px; /* 高さ       */
  border-radius: 100px; /* 角丸       */

  font-size: 15pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 13px 13px 13px 25px; /* 余白       */
  /* background: #ffffff; 背景色     */
  color: #333; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: background-color 0.3s ease; /* なめらか変化 */
  /* box-shadow: 6px 6px 3px #666666; 影の設定 */
  border: 0.5px solid #333; /* 枠の指定 */
}

.btn-medium:hover {
  background: #cc4100; /* 背景色     */
  color: #ffffff; /* 文字色     */
  box-shadow: none; /* 影の設定   */
  border: 1px solid #000066; /* 枠の指定 */
}

.btn-large {
  display: inline-block;
  width: 720px; /* 横幅       */
  height: 155px; /* 高さ       */
  border-radius: 80px; /* 角丸       */

  font-size: 17px; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 65px 40px; /* 余白       */
  background: #333333; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: background-color 0.3s ease; /* なめらか変化 */
  border: 1px solid #333; /* 枠の指定 */
}

.btn-large:hover {
  background: #cc4100;
  /* color: #333; 文字色     */
  box-shadow: none; /* 影の設定   */
  border: 0.5px solid #000066; /* 枠の指定 */
}

#business {
  /* background: -webkit-linear-gradient(top, #ffffff, #f5f5f5); */
  height: 1240px;
  background-color: #f5f5f5;
  padding: 159px 160px;
}

#about {
  background-color: #ffffff;
  height: 888px;
  padding: 160px 160px;
}

#contact {
  background-color: #ffffff;
  height: 643px;
}

#service {
  background-color: #f5f5f5;
}

/* 実績紹介 */
/* Swiper 横並びスライダー用 */
.swiper-container {
  max-width: 1152px;
  height: 640px;
  overflow-y: visible;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  /* background-color: seagreen; */
  height: 95%;
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  height: 95%;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 必要に応じてpaddingやborderを調整 */
  transition: opacity 0.8s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.swiper-slide-active {
  opacity: 1;
  /* transform: scale(1.05); */
  /* transition: transform 0.3s; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  /* margin-top: 50px; */
}

/* ↓↓ スライドキャプションのフェードインアニメーション ↓↓ */

.slide-caption {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.2); */
  opacity: 0; /* 初期状態では非表示 */
  text-align: left;

  width: 86%;
  height: 81px;

  top: 70%;
  left: 10%;
  /* bottom: 13.75%; */
  /* bottom: 95%; */
  /* padding: 10px; */
}

.slide-caption.white-text {
  color: white;
}

.slide-caption.gray-text {
  color: #4d0aeba2;
}

.slide-caption h3 {
  font-size: 40px;
  margin-bottom: 4px;
  font-weight: 700;
}

.slide-caption p {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.slide-caption.fade-in-active {
  animation: fade-in-caption 0.8s ease-out forwards;
}

/* ↑↑ スライドキャプションのフェードインアニメーション ↑↑ */

@keyframes fade-in-caption {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-controls-button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20 px 0; */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-controls-button .swiper-button-next,
.swiper-controls-button .swiper-button-prev,
.swiper-button-pause {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  /* position: absolute; */
  z-index: 10;
  margin: 0 5px;
  position: static;
  margin-top: initial;
}

.swiper-controls-button .swiper-button-next:hover,
.swiper-controls-button .swiper-button-prev:hover,
.swiper-button-pause:hover {
  background-color: #0044cc;
  color: white;
  border-color: #0044cc;
}

.swiper-scrollbar {
  /* position: static; */
  justify-content: center;
  /* width: 90%; */
  /* max-width: 200px; スクロールバーの最大幅を調整 */
  height: 6px;
  background: #eee;
  border-radius: 3px;
  margin-top: initial;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.about-photo {
  width: 50%;
  /* height: 200px; */
  object-fit: cover;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  max-width: 40%;
  text-align: left;
  font-size: 19px;
}

.about-text p {
  font-size: 18.7px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

/* 実績紹介 */
/* 事業内容 */
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-item {
  /* border: 1px solid #ccc; */
  text-align: left;
  padding: 20px;
  width: 300px;
}

.service-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.service-item h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.service-item p {
  font-size: 14px;
  line-height: 1.4;
}

/* お問い合わせ */

/*
 ===========================
📱 スマホ対応
  ===========================
  */

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 390px;
    /* min-width: 390px; */
  }

  .section {
    width: 100%;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .section-subtitle {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .section h2 {
    font-size: 39px;
  }

  #business,
  #about,
  #service,
  #contact {
    padding: 80px 0px;
  }

  #business {
    /* background: #0044cc; */
    background: #f5f5f5;
    height: 655px;
  }

  #about {
    /* background-color: #ffffff; */
    height: 629px;
  }

  #service {
    /* background-color: #f5f5f5; */
    height: 1276px;
  }
  #contact {
    /* background-color: #ffffff; */
    height: 402px;
  }

  .btn-large {
    width: 100%;
    height: 152px;
    font-size: 15px;
  }

  .btn-medium {
    width: 174px;
    height: 49px;
    font-size: 16px;
  }

  /* スライダー調整 */
  .swiper-container {
    width: 100%;
    height: 352px;
  }
  .slide-image {
    width: 100%;
    height: 50%;
  }

  .slide-caption {
    width: 90%;
    height: 81px;
    top: 50%;
  }

  .slide-caption h3 {
    font-size: 39px;
    font-weight: 700;
  }
  .slide-caption p {
    font-size: 15px;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-photo {
    width: 100%;
    height: 200px;
  }

  .about-text {
    width: 92%;
    max-width: none;
  }

  .about-text p {
    font-size: 16px;
    text-align: left;
  }

  .about-text .btn-medium {
    display: block;
    margin: 20px auto 0;
  }

  .service-item {
    width: 100%;
    max-width: none;
  }

  #service .btn-medium {
    width: 176px;
  }
}
