@font-face {
  font-family: "Zen";
  src: url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap")
    format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
    format("opentype");
}

body {
  font-family: "Zen", "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
}
