body {
  /* ↓いらないかも↓ */
  margin: 0 auto;
  display: block;
  /* ↑いらないかも↑ */
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-feature-settings: "palt";
  color: #333333;
}

/* セクション（共通） */
section {
  width: 100%;
  padding: 160px 0;
}

/* ページタイトルのスタイル（仮） */
section.page-title {
  padding: 159px 0 160.01px;
}

.english {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 76.8px;
  line-height: 76.8px;
  letter-spacing: 0;
  text-align: center;
}

.japanese {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

/* セクションタイトル(共通） */
.section-title {
  max-width: 1152px;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
}

.container {
  max-width: 1152px;
  margin: 0 144px;
}

/* セクション 01 の各種設定 */
.appeal {
  background-color: #F5F5F5;
}

.appeal .container {
  margin: 0 auto;
  display: flex;
  gap: 50.67px;
}

.appeal-box {
  flex: 1;
}

.appeal-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.4;
}

.appeal-text {
  font-size: 16px;
  line-height: 1.4;
}

.appeal-list {
  list-style-type: "・";
  padding-left: 0;
}

.appeal-list li {
  font-size: 16px;
  line-height: 1.4;
  margin-left: 24px;
  overflow-wrap: break-word;
}

.list-desc {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  overflow-wrap: break-word;
}

/* セクション 02 の各種設定 */
.job .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  gap: 80px 52px;
}

.job-title {
  background: #F5F5F5;
  padding: 0 8px;
  margin: 0 0 24px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.job-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 28px;
  border-bottom: 1px solid #333333;
  padding: 20px 0;
}

.job-box {
  width: 100%;
}

.job-box .job-item:first-of-type {
  border-top: 1px solid #333333;
}

.job-label {
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -1px;
}

.job-list {
  list-style-type: "・";
  font-size: 16px;
  line-height: 1.6;
}

.job-list li {
  margin-left: 20px;
}

/* セクション 03 の各種設定 */
.flow {
  background-color: #F5F5F5;
}

.flow .container {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding-left: 161px;
  padding-right: 161px;
}

.flow-box {
  flex: 1;
}

.flow-number {
  width: 64px;
  height: 64px;
  line-height: 1.4;
  background-color: #CC4100;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

.flow-title {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 8px;
}

.flow-text {
  font-size: 12px;
  line-height: 1.4;
}

.flow-list {
  font-size: 12px;
  line-height: 1.4;
  list-style-type: "・";
}

.flow-list li {
  margin-left: 20px;
}

/* =========================
   スマホ対応（768pxはipadを縦にしたときのサイズ）
========================= */
@media screen and (max-width: 768px) {

  /* セクション（共通） */
  section {
    padding: 80px 0;
  }

  /* ページタイトルのスタイル（仮） */
  section.page-title {
    padding: 80px 0;
  }

  .english {
    font-size: 32px;
    line-height: 39px;
  }

  .japanese {
    font-size: 16px;
    line-height: 23px;
  }

  /* セクションタイトル(共通） */
  .section-title {
    max-width: 358px;
    margin: 0 auto 24px;
  }

  .container {
    max-width: 358px;
    flex-direction: column;
  }

  /* セクション 02 の各種設定 */
  .job .container {
    display: flex;
    gap: 40px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 8px;
    padding: 8px 0;
  }

  .job-list li {
    margin-left: 18px;
  }

  /* セクション 03 の各種設定 */
  .flow .container {
    padding-left: 0;
    padding-right: 0;
  }

  .flow-box:first-child :is(.flow-text, .flow-list) {
    width: 282px;
    margin: 0 auto;
  }

  .flow-box:nth-child(2) .flow-list {
    width: 186px;
    margin: 0 auto;
  }

  .flow-box:nth-child(3) .flow-text {
    text-align: center;
  }

  .flow-list li {
    margin-left: 18px;
  }

}
